.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #17212b;
  color: white;
  padding: 14px;
  overflow-y: auto;
}

.current-user {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.user-profile {
  display: flex;
  gap: 10px;
}

.profile-pic {
  width: 65px;
  height: 65px;
  background-color: #5c6670;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #b1b1b1;
  font-size: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.logout-btn:hover {
  color: #ffffff;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.online {
  color: #4caf50;
  font-size: 12px;
}

.username {
  font-size: 16px;
  font-weight: bold;
}

.divider {
  border: none;
  height: 1px;
  background-color: #40444b;
  margin: 10px 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0px;
}

.sidebar li {
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
  transition: background-color 0.2s;
}

.sidebar li.active {
  background-color: #766ac8;
}
.sidebar li:hover {
  background-color: #40444b;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info .profile-pic {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #5c6670;
}

.sidebar li .username {
  font-size: 16px;
  color: white;
}

.chat-content {
  flex-grow: 1;
  background-color: #0e1621;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.no-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 6px 10px;
  background-color: #1e2c3a;
  color: #d9effa;
  font-size: 14px;
}

.mobile-back {
  display: none;
  background-color: #2f3136;
  padding: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }

  .sidebar-hidden {
    display: none;
  }

  .chat-content-hidden {
    display: none;
  }

  .mobile-back {
    display: block;
  }
}
