.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #17212b;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar li.active,
.sidebar li:hover {
  background-color: #40444b;
}

.chat-content {
  flex-grow: 1;
  background-color: #0e1621;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.no-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 6px 10px;
  background-color: #1e2c3a;
  color: #d9effa;
  font-size: 14px;
}

.mobile-back {
  display: none;
  background-color: #2f3136;
  padding: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }

  .sidebar-hidden {
    display: none;
  }

  .chat-content-hidden {
    display: none;
  }

  .mobile-back {
    display: block;
  }
}
